<div class="page-container">
<section id="home">
  <div class="nomsa-and-text">
    <div class="intro-text">
      <p>Hi, I'm Nomsa Natasha Goba</p>
      <p>a web developer</p>
    </div>
    <div class="image">
      <%= image_tag "nomsa.png", alt: "Nomsa Natasha Goba" %>
    </div>
    <div class="about-me">
      <p>I'm a passionate and driven aspiring full-stack developer currently pursuing my degree in Computer Science in the vibrant city of Cape Town.
      As a dedicated student, I devote my time to sharpening my HTML, CSS, and JavaScript skills through personal projects and continuous learning.
      Beyond my academic pursuits,I am proud to be an alumna of Le Wagon, where I further solidified my foundation in web development. </p>

    <p>  My enthusiasm for technology is complemented by a diverse range of interests, including hiking, writing, reading and cooking.
    These activities not only provide me with a well-rounded perspective but also contribute to my creativity and problem-solving skills.
    I am keenly interested in exploring opportunities for remote work and am open to relocating immediately, driven by my commitment to personal
    and professional growth.</p>
    </div>
  </div>
</section>
</div>

<section id="portfolio">
    <div class="tech-stack">
      <p>Tech Stack</p>
      <%= image_tag "TechStack.png", alt:"Tech Stack", class: "tech-image"  %>
    </div>

    <p class="project-title">My Projects</p>
    <div class="portfolio-images">
      <div class="port-image">
        <%#= image_tag "", alt: "Airbnb-Clone" %>
      </div>
      <div class="port-image">
        <%#= image_tag "game-on.png", alt: "Sports Venue app" %>
      </div>
      <div class="port-image">
        <%#= image_tag "unnamed.jpg", alt: "Airbnb-Clone" %>
      </div>
    </div>
  </section>

<section id="contact">
  <div class="contact-info-and-form">
    <div class="contact">
      <p>Contact Me</p>
      <div class="contact-icon">
        <div>
          <i class="fa-regular fa-envelope"></i>
        </div>
        <div>
          <p>Email</p>
          <p>nomsanatashagoba@gmail.com</p>
        </div>
      </div>
      <div class="contact-icon">
        <div>
          <i class="fa-brands fa-linkedin"></i>
        </div>
        <div>
          <p>LinkedIn</p>
          <p>linkedin.com/in/nomsa-natasha-goba</p>
        </div>
      </div>

      <div class="contact-icon">
        <div>
          <i class="fa-solid fa-phone"></i>
        </div>
        <div>
          <p>Phone</p>
          <p>+27 74 735 1024</p>
        </div>
      </div>

      <div class="contact-icon">
      <div>
        <i class="fa-solid fa-location-dot"></i>
      </div>
      <div>
        <p>Location</p>
        <p>Cape Town</p>
      </div>
      </div>
    </div>

    <div class="contact-form">
      <%= render 'shared/form' %>
    </div>
  </div>
</section>
