<div class="page-container">
<section id="home">
  <div class="nomsa-and-text">
    <div class="intro-text">
      <p>Hi, I'm Nomsa Natasha Goba</p>
      <p>a web developer</p>
    </div>
    <div class="image">
      <%= image_tag "nomsa.png", alt: "Nomsa Natasha Goba" %>
    </div>
    <div class="about-me">
      <p>I'm a passionate and driven aspiring full-stack developer currently pursuing my degree in Computer Science in the vibrant city of Cape Town.
      As a dedicated student, I devote my time to sharpening my HTML, CSS, and JavaScript skills through personal projects and continuous learning.
      Beyond my academic pursuits,I am proud to be an alumna of Le Wagon, where I further solidified my foundation in web development. </p>

    <p>  My enthusiasm for technology is complemented by a diverse range of interests, including hiking, writing, reading and cooking.
    These activities not only provide me with a well-rounded perspective but also contribute to my creativity and problem-solving skills.
    I am keenly interested in exploring opportunities for remote work and am open to relocating immediately, driven by my commitment to personal
    and professional growth.</p>
    </div>
  </div>
</section>


<section id="portfolio">
  <!-- Portfolio section content -->
</section>

<section id="contact">
  <!-- contact section content -->
</section>
</div>
