html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #030303;
}


.page-container{
  padding: 2em 4em 2em 4em;
  background-color: #030303;
  height: 100%;
  color: white;
  position: relative;
}

.nomsa-and-text{
  display: flex;
  position: relative;
}

.intro-text{
  font-family: "Kode Mono", monospace;
  font-size: 3em;
  z-index: 1;
  position: relative;
  margin-top: 2em;
}

.image{
  position: absolute;
  left: 23em;
}

.about-me{

    font-family: "Kode Mono", monospace;
    font-size: 1em;
    margin-left: 13em;
    margin-top: 4em;
    width: 50%;
    z-index: 1;
    position: relative;
  }

.portfolio-images{
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

.port-image{
    width: 65%;
    margin: 1.5em;
    border-radius: 10px;
    border: solid 2px rgb(24, 24, 151);
}

#portfolio {
  background-color: rgb(7, 7, 7);
  color: white;
}
